.hero {
    background-image: url("hotel.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 48px;
  }
  
  .hero button {
    background-color: #998585;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-left: 20px;
  }
  .hero button,a{
    text-decoration: none;
    color: white;
  }
  
  .hero button:hover {
    background-color: #444;
    border-radius: 20px;
    transform: scale(1.16);
  }
  