.footer {
    background-color: #333;
    color: #fff;
    padding: 2em;
    text-align: center;
    position: relative;
    width: 96.2%;
    bottom: 0;
    overflow: hidden;
  }
  
  .footer-top {
    margin-bottom: 20px;
  }
  
  .footer-top h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    font-size: 14px;
    color: #ccc;
  }